@import 'vendor/bourbon/bourbon';

body {
	background-color: white;
	margin: 100px;
}

.box {
	position: relative;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	background-color: red;
	transition: all 1s;
	// animation: bounceAround 1.1s ease-in-out infinite;
	animation-name: bounceAround;
	animation-duration: 1.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	
	&:hover {
		background-color: blue;
		transform: scale(2,2);
	}
}

.ball {
	border: 2px solid red;
	background-color: #ccc;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-animation-name: moveBall;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: paused;

	&:hover {
		-webkit-animation-play-state: running;
	}
}

@-webkit-keyframes moveBall {
	0% {
		margin-left: 0;
		margin-top: 0;
	}
	50% {
		margin-left: 300px;
		margin-top: 0;
	}
	100% {
		margin-top: 100px;
	}
}

@keyframes bounceAround {
  0% {transform:translateY(0);}
  20% {transform:translateY(-60px) rotate(0deg);}
  25%{transform:translateY(20px) rotate(0deg);}
  35%, 55%{transform:translateY(0px) rotate(0deg);}
  60% {transform: translateY(-20px) rotate(0deg);}
  100%{transform: translateY(-20px) rotate(360deg);}
}

/* Bourbon */
@include keyframes(fadeIn) {
  50% {
    @include transform(scale(0));
  }
  100% {
    @include transform(scale(1));
  }
}