.nav-wrapper {
	border-bottom: 4px solid black;
	overflow: auto;
	background-color: #666;
	// position: fixed;
	top: 0;
	width: 100%;
	position: fixed;
}

.nav-main {
	margin: 0;
	padding: 0;

	li {
		display: block;
		float: left;

		a {
			padding: 20px;
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			background-color: #666;
			text-shadow: 1px 1px 1px black;

			&:hover,
			&.is-current {
				background-color: #eee;
				color: black;
				text-shadow: none;
			}
		}
	}
}