ul.nav {
  margin: 0;
  border: 1px solid blue;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: auto; }
  ul.nav li {
    display: block;
    float: left;
    color: black;
    border: 1px solid black;
    padding: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: red;
    background-color: green;
    outline: 1px dotted blue; }

body {
  background-color: purple;
  font: normal 14px Helvetica, Arial, sans-serif; }
  @media all and (min-width: 460px) {
    body {
      background-color: red; } }
  @media all and (min-width: 768px) {
    body {
      background-color: green; } }

.alert, .alert-2 {
  color: red;
  background-color: grey; }

.alert-2 {
  margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
