@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/nav';

body {
	background-color: $test-foo;
	font: normal 14px Helvetica, Arial, sans-serif;

	@include breakpoint(small){
		background-color: red;
	}

	@include breakpoint(med){
		background-color: green;
	}
}

.alert {
	color: red;
	background-color: grey;
}

.alert-2 {
	@extend .alert;
	margin-top: 20px;	
}


