%btn-default {
	background-color: grey;
	border: 1px solid black;
	font-size: 14px;
	padding: 10px;
	line-height: 14px;
	margin-bottom: 4px;
}

.btn {
	@extend %btn-default;
}
.btn-small {
	@extend %btn-default;
}
.btn-med {}
.btn-lrg {}
