@for $i from 1 through 100 {
	.cell-#{$i} {
		width: $i * 1%;
	}
}

@for $i from 1 through 6 {
	.fs-#{$i} {
		font-size: $i * 12px;
	}
}

@each $color in red, green, blue {
	.color-#{$color} {
		color: $color;
	}
}

@each $list in disc, circle, decimal {
	.list-#{$list} {
		list-style-type: $list;
	}
}

@each $person in zach, marley, bob {
	.icon-#{$person} {
		background-image: url('/path/to/#{$person}.jpg');
	}
}




.grid-50 {
	width: 100%;
	border: 1px solid red;
	
	@include breakpoint(med){
		width: 48.9%;
		float: left;
	}
}

.fs-small {
	font-size: 50px;
	
	@include breakpoint(med){
		font-size: 25px;
	}
}


.fs-med {}
















