@mixin breakpoint($breakpoint){
	@if $breakpoint == small {
		@media all and (min-width: 420px){
			@content;
		}
	} @else if $breakpoint == med {
		@media all and (min-width: 769px){
			@content;
		}
	} @else if $breakpoint == large {
		@media all and (min-width: 960px){
			@content;
		}
	}
}

.is-desktop {
	display: none;
	
	@media all and (min-width: 769px){
		display: block;
		font-size: 12px;
	}
}

.is-mobile {}
