body.modal-on {
	overflow: hidden;
}

.modal-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	display: none;
}

.modal {
	position: relative;
	top: 40%;
	width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

.modal-header {
	text-align: right;
	border-bottom: 1px solid black;
	padding: 9px;
}

.modal-content {}

.modal-footer {
	border-top: 1px solid black;
	text-align: right;
	padding: 9px;
}