.word,
.letter {
  overflow: auto;
  display: inline-block; }
  .word span,
  .letter span {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 40px;
    text-transform: uppercase; }
    .word span:last-child,
    .letter span:last-child {
      margin-right: 0; }

.letter {
  margin-top: 100px;
  width: 80%; }
  .letter span {
    margin-bottom: 10px;
    display: inline-block;
    float: none;
    transition: all .5s; }
    .letter span:hover {
      background-color: #999;
      color: white;
      cursor: pointer; }
    .letter span.has-letter {
      background-color: rgba(0, 128, 0, 0.8);
      color: white; }
    .letter span.has-not-letter {
      background-color: rgba(255, 0, 0, 0.8);
      color: white; }

body {
  font: normal 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 50px auto; }

/*# sourceMappingURL=main.css.map */
