body.modal-on {
  overflow: hidden; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal-wrapper .modal {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 10px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px; }

body {
  font: normal 14px Helvetica, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
