body {
	padding: 0;
	margin: 0;
}

.slideshow {
	border: 3px solid black;
	width: 500px;
	height: 500px;
	position: relative;
	margin: 10px;
}

.slideshow img {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}