body {
  background-color: white;
  margin: 100px; }

.block {
  border: 1px solid black;
  background-color: #ccc;
  width: 100px;
  height: 100px;
  /*transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 2s;*/
  transition: background-color 1s linear 1s, width 1s ease 3s; }
  .block:hover {
    width: 200px;
    background-color: red; }

.rotate {
  border: 1px solid red;
  display: inline-block; }
  .rotate:hover {
    transform: rotate(30deg); }

.foo {
  border: 1px solid black;
  background-color: #ccc;
  transform: scale(8, 8); }

.block-2 {
  border: 4px solid red;
  width: 300px;
  height: 300px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: 20px;
  transition: all 2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .block-2:hover {
    background-color: #666;
    border-color: green;
    margin-top: 40px; }

.block-3 {
  border: 2px dotted green;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin-top: 100px;
  transition: padding 600ms linear; }
  .block-3:hover {
    padding: 40px; }

.ball {
  border: 1px solid red;
  background-color: #ccc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-animation-name: moveToRight;
  -moz-animation-name: moveToRight;
  animation-name: moveToRight;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;*/ }
  .ball.is-running {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running; }

@-webkit-keyframes moveToRight {
  0% {
    margin-top: 0;
    margin-left: 0; }
  50% {
    margin-left: 200px;
    width: 200px;
    height: 200px; }
  75% {
    width: 10px;
    height: 10px; }
  100% {
    margin-left: 200px;
    margin-top: 200px;
    width: 400px;
    height: 400px; } }
@-moz-keyframes moveToRight {
  0% {
    margin-top: 0;
    margin-left: 0; }
  50% {
    margin-left: 200px;
    width: 200px;
    height: 200px; }
  75% {
    width: 10px;
    height: 10px; }
  100% {
    margin-left: 200px;
    margin-top: 200px;
    width: 400px;
    height: 400px; } }
@keyframes moveToRight {
  0% {
    margin-top: 0;
    margin-left: 0; }
  50% {
    margin-left: 200px;
    width: 200px;
    height: 200px; }
  75% {
    width: 10px;
    height: 10px; }
  100% {
    margin-left: 200px;
    margin-top: 200px;
    width: 400px;
    height: 400px; } }

/*# sourceMappingURL=main.css.map */
