body {
	margin: 0;
	font: normal 16px Helvetica, Arial, sans-serif;
}

.nav-main {
	margin-top: 0;
	padding-left: 0;
	list-style: none;
	display: none;
	width: 100%;
	border-bottom: 1px solid black;
	overflow: auto;
}

.nav-main a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 18px;
	border-bottom: 1px solid black;
}

.nav-main a:hover {
	background-color: #eee;
}

.is-mobile {
	display: block;
}

@media (min-width: 420px){
	
	.is-mobile {
		display: none;
	}

	.nav-main {
		display: block;		
	}

	.nav-main li {
		display: block;
		float: left;
	}

	.nav-main li a {
		border-bottom: none;
	}

}
















