nav {
	ul {
		margin: 0;
		padding: 0;
		border: 4px solid red;
		overflow: auto;
		margin-bottom: $unit;
		@include border-radius(10px);
		@include bg-black(.5);
	}
	
	li {
		display: block;
		float: left;

		a {
			display: block;
			padding: 40px 20px;
			color: $color-body;
			text-decoration: underline;

			&:hover {
				background-color: blue;	
				color: $color-body;
			}
		}
	}
}