body {
  background-color: red;
  margin: 100px; }

.box {
  width: 200px;
  height: 200px;
  border: 4px solid red;
  background-color: #eee;
  transform: rotate(30deg) skewX(60deg);
  transition: transform 5s;
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 0; }
  .box:hover {
    transform: rotate(-30deg);
    transition-delay: 2s; }

.ball {
  width: 200px;
  height: 200px;
  border: 4px solid #000;
  background-color: red;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 2s; }

@keyframes bounce {
  50% {
    transform: translateY(50%); }
  100% {
    transform: translateY(0%); } }
svg.bozo {
  width: 100%; }
  svg.bozo .nose {
    transition: all .5s; }
    svg.bozo .nose:hover {
      fill: green;
      stroke: red; }

/*# sourceMappingURL=main.css.map */
