.nav-wrapper {
  background-color: #969696;
  border-bottom: 1px solid black;
  overflow: auto;
  width: 100%;
  top: 0; }

.nav-main {
  margin: 0;
  padding: 0; }
  .nav-main li {
    display: block;
    float: left; }
    .nav-main li a {
      display: block;
      padding: 20px;
      text-decoration: none;
      color: black; }
      .nav-main li a:hover {
        background-color: #666;
        color: white; }

.page-about {
  background-color: red; }

.page-contact {
  background-color: green; }

.page-blog {
  background-color: yellow; }

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font: normal 1em/18px Helvetica, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
