body {
	font: normal 14px Helvetica, Arial, sans-serif;
	margin: 0;
}

.nav-wrapper {
	border-bottom: 4px solid black;
	width: 100%;
	background-color: #fff;
	left: 0;
	top: 0;
}

nav ul li {
	display: inline;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
}

/* Pages */
#page-about {
	background-color: red;
}

#page-contact {
	background-color: green;
}

#page-more {
	background-color: blue;
}