@import 'partials/modal';

body {
	margin: 0;
	padding: 0;
	font: normal 1em/18px Helvetica;
	
	&.page-one {
		background-color: red;
	}

	&.page-two {
		background-color: green;
	}

}


p {
	margin: 0 0 9px;
}