body {
  background-color: red;
  background-image: -webkit-linear-gradient(red, green, purple);
  background-image: linear-gradient(red, green, purple); }

.in-text {
  font-size: 24px; }
  .in-text::-webkit-input-placeholder {
    color: red; }
  .in-text::-moz-placeholder {
    color: red; }
  .in-text:-moz-placeholder {
    color: red; }
  .in-text:-ms-input-placeholder {
    color: red; }
  @media all and (min-width: 500px) and (max-width: 600px) {
    .in-text {
      font-size: 100px; } }

h1 {
  font-size: 10px; }

h2 {
  font-size: 100px; }

.cell-1 {
  width: 1%; }

.cell-2 {
  width: 2%; }

.cell-3 {
  width: 3%; }

.cell-4 {
  width: 4%; }

.cell-5 {
  width: 5%; }

.cell-6 {
  width: 6%; }

.cell-7 {
  width: 7%; }

.cell-8 {
  width: 8%; }

.cell-9 {
  width: 9%; }

.cell-10 {
  width: 10%; }

.cell-11 {
  width: 11%; }

.cell-12 {
  width: 12%; }

.cell-13 {
  width: 13%; }

.cell-14 {
  width: 14%; }

.cell-15 {
  width: 15%; }

.cell-16 {
  width: 16%; }

.cell-17 {
  width: 17%; }

.cell-18 {
  width: 18%; }

.cell-19 {
  width: 19%; }

.cell-20 {
  width: 20%; }

.cell-21 {
  width: 21%; }

.cell-22 {
  width: 22%; }

.cell-23 {
  width: 23%; }

.cell-24 {
  width: 24%; }

.cell-25 {
  width: 25%; }

.cell-26 {
  width: 26%; }

.cell-27 {
  width: 27%; }

.cell-28 {
  width: 28%; }

.cell-29 {
  width: 29%; }

.cell-30 {
  width: 30%; }

.cell-31 {
  width: 31%; }

.cell-32 {
  width: 32%; }

.cell-33 {
  width: 33%; }

.cell-34 {
  width: 34%; }

.cell-35 {
  width: 35%; }

.cell-36 {
  width: 36%; }

.cell-37 {
  width: 37%; }

.cell-38 {
  width: 38%; }

.cell-39 {
  width: 39%; }

.cell-40 {
  width: 40%; }

.cell-41 {
  width: 41%; }

.cell-42 {
  width: 42%; }

.cell-43 {
  width: 43%; }

.cell-44 {
  width: 44%; }

.cell-45 {
  width: 45%; }

.cell-46 {
  width: 46%; }

.cell-47 {
  width: 47%; }

.cell-48 {
  width: 48%; }

.cell-49 {
  width: 49%; }

.cell-50 {
  width: 50%; }

.size-1 {
  font-size: 12px; }

.size-2 {
  font-size: 24px; }

.size-3 {
  font-size: 36px; }

.size-4 {
  font-size: 48px; }

.size-5 {
  font-size: 60px; }

.size-6 {
  font-size: 72px; }

.icon-zach {
  background-image: url("/images/zach.png"); }

.icon-ray {
  background-image: url("/images/ray.png"); }

.icon-sally {
  background-image: url("/images/sally.png"); }

.color-red {
  color: red; }

.color-green {
  color: green; }

.color-orange {
  color: orange; }

.list-disc {
  list-style-type: disc; }

.list-circle {
  list-style-type: circle; }

.list-decimal {
  list-style-type: decimal; }

.thick-line, .thick-line-blue {
  border: 10px solid red; }

.thick-line-blue {
  border-color: blue; }

.btn, .btn-alt {
  border-radius: 10px;
  width: 25%;
  font-size: 28px;
  padding: 10px 0;
  outline-style: none;
  border-style: none; }
  .btn:hover, .btn-alt:hover {
    background-color: pink;
    cursor: pointer; }

.btn-alt {
  background-color: black;
  color: white; }
  .btn-alt:hover {
    background-color: blue; }

.button-defaults, .btn-small, .btn-med {
  border: 1px solid red; }

/*# sourceMappingURL=main.css.map */
