@import "bourbon/bourbon";
@import "partials/mixins";

// http://bourbon.io/docs/
// Shade is a mix of color with black.
// Tint is a mix of color with white.

body {
	// background: tint(red, 50%);
	@include linear-gradient(red, green, purple);
}

.in-text {
	font-size: 24px;

	@include placeholder {
		color: red;
	}

	@media all and (min-width: 500px) and (max-width: 600px) {
		font-size: 100px;
	}
}

// Sass IF
$fs: 1;

h1 {
	@if $fs == 1 {
		font-size: 10px;
	}
	@else if $fs == 2 {
		font-size: 18px;
	}
}


@if $fs == 1 {
	h2 {
		font-size: 100px;
	}
}
@else if $fs == 2 {
	h2 {
		font-size: 200px;
	}
}







// Sass For Loop
@for $i from 1 through 50 {
	.cell-#{$i} {
		width: 1% * $i;
	}
}











// Exercise
@for $i from 1 through 6 {
	.size-#{$i} {
		font-size:  12px * $i;
	}
}




// @each Loop
@each $person in zach, ray, sally {
	.icon-#{$person} {
		background-image: url('/images/#{$person}.png');
	}
}

@each $color in red, green, orange {
	.color-#{$color} {
		color: $color;
	}
}



// Exercise
@each $type in disc, circle, decimal {
	.list-#{$type} {
		list-style-type: $type;
	}
}




// Placeholders
%thick-line {
	border: 10px solid red;
}

.thick-line {
	@extend %thick-line;
}



.thick-line-blue {
	@extend %thick-line;
	border-color: blue;	
}










// Exercise
%button {
	border-radius: 10px;
	width: 25%;
	font-size: 28px;
	padding: 10px 0;
	outline-style: none;
	border-style: none;

	&:hover {
		background-color: pink;
		cursor: pointer;
	}
}

// default button
.btn {
	@extend %button;
}

// alternate button
.btn-alt {
	@extend %button;
	background-color: black;
	color: white;

	&:hover {
		background-color: blue;
	}
}


.button-defaults {
	border: 1px solid red;
}

.btn-small {
	@extend .button-defaults;
}

.btn-med {
	@extend .button-defaults;
}