.nav-wrapper {
	background-color: rgba(150,150,150,1);
	border-bottom: 1px solid black;
	overflow: auto;
	width: 100%;
	top: 0;
}

.nav-main {
	margin: 0;
	padding: 0;

	li {
		display: block;
		float: left;

		a {
			display: block;
			padding: 20px;
			text-decoration: none;
			color: black;

			&:hover {
				background-color: #666;
				color: white;
			}
		}
	}
}