body {
	font: normal 14px Helvetica, arial;
	margin: 0;
	padding: 0;
}

.nav-wrapper {
	border-bottom: 1px solid black;
	width: 100%;
	background-color: white;
	padding: 0;
	margin: 0;
	top: 0;
}

.nav-main {
	margin: 0;
	padding: 0;
	overflow: auto;
}

.nav-main li {
	display: block;
	float: left;
}

.nav-main li a {
	display: block;
	padding: 18px 27px;
}

.page-about {
	background-color: red;
}

.page-contact {
	background-color: green;
}

p {
	margin: 0 0 18px 0;
}