body.modal-on {
	overflow: hidden;
}

.modal-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,.5);
	display: none;

	.modal {
		width: 400px;
		// height: 300px;
		// margin: 0 auto;
		background-color: #fff;
		position: relative;
		top: 50%;
		left: 50%;
		// transform: translateY(-50%);
		transform: translate(-50%, -50%);
		border-radius: 10px;
	}

	.modal-header {
		padding: 20px;
		border-bottom: 1px solid grey;
		overflow: auto;
		
		.title {
			float: left;
			margin: 0;
		}

		.btn {
			float: right;
		}
	}

	.modal-content {
		padding: 20px;
	}

	.modal-footer {
		padding: 20px;
		border-top: 1px solid grey;
		text-align: right;
	}

}


// Bonus: 
// Hide all inline modal content elements by default
.modal-content-inline {
	display: none;
}