.word {
  overflow: auto;
  display: inline-block;
  margin: 0 auto; }
  .word > span {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 48px;
    border: 1px solid black;
    margin-right: 20px;
    color: purple; }

.letter {
  overflow: auto;
  display: inline-block;
  margin: 50px auto;
  clear: both;
  text-transform: uppercase; }
  .letter > span {
    display: block;
    width: 30px;
    margin: 9px;
    float: left;
    font-size: 36px;
    border: 1px solid #ccc;
    padding: 9px;
    transition: all .5s; }
    .letter > span:hover {
      background-color: #eee;
      border-color: #333;
      cursor: pointer; }
    .letter > span.letter-found {
      background-color: rgba(0, 128, 0, 0.4);
      border-color: green;
      color: white; }
    .letter > span.letter-not-found {
      background-color: rgba(255, 0, 0, 0.4);
      border-color: red;
      color: white; }

body {
  font: normal 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 50px auto; }

/*# sourceMappingURL=main.css.map */
