#buster {
	background-color: grey;
	padding: 100px;
	border: 1px solid black;
	border-radius: 4px;
	height: 800px;
	width: 100px;
}

.menu {
	/*display: none;*/
	height: 0;
	padding: 10px;
	color: black;
	border: 1px solid red;
	font-size: 21px;
}