@import 'partials/player';
@import 'partials/table';

$color-primary: white;

body {
	background-color: $color-primary;
	// border: 10px solid red;
	text-align: center;
	width: 600px;
	margin: 20px auto 0;
	font: normal 14px Helvetica, Arial;
}