@import 'partials/vendor/font-awesome/font-awesome';
@import 'partials/vendor/bourbon/bourbon';
@import 'partials/nav';

body {
	background-color: white;
	margin: 0;
	font: normal 18px Helvetica, Arial, sans-serif;
}

.nav-main {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid black;
	overflow: auto;
	
	li {
		float: left;
		margin-left: 0;

		a {
			display: block;
			background-color: #eee;
			padding: 18px 32px;
			border-right: 1px solid black;
			text-decoration: none;
			@include transition(all 1s);

			&:hover {
				background-color: #ccc;
			}
		}
	}
}