@mixin border-radius($border: 50px) {
	-webkit-border-radius: $border;
	border-radius: $border;
}

@mixin foo {
	color: red;
	background-color: green;
	outline: 1px dotted blue;
}

@mixin breakpoint($point) {

	@if $point == small {
		@media all and (min-width: 460px) { @content; }
	}

	@if $point == med {
		@media all and (min-width: 768px) { @content; }
	}
}
