ul.nav {
	margin: 0;
	border: 1px solid blue;
	@include border-radius();
	overflow: auto;

	li {
		display: block;
		float: left;
		color: $color-nav;
		border: 1px solid black;
		padding: 10px;
		@include border-radius(10px);
		@include foo;
	}
}