body {
	width: 600px;
	margin: 50px auto;
}
table {}
td {
	border: 1px solid grey;
	width: 220px;
	height: 200px;
	border-radius: 20px;
	text-align: center;
	font-size: 140px;
	line-height: 140px;
	text-transform: uppercase;
}

td.marked-x:after {
	content: 'x';
}

td.marked-o:after {
	content: 'o';
}