body {
	margin: 0;
	padding: 0;
}
.nav-wrapper {
	border-bottom: 2px solid black;
	background-color: #eee;
	position: fixed;
	width: 100%;
	top: 0;
}

.nav-main {
	margin: 0;
	padding: 0;
	overflow: auto;

	li {
		display: block;
		float: left;

		a {
			display: block;
			padding: 9px 18px;
			transition: background-color .5s;

			&:hover {
				background-color: #999;
			}
		}
	}
}