body {
  margin: 0;
  padding: 0; }

.nav-wrapper {
  border-bottom: 2px solid black;
  background-color: #eee;
  position: fixed;
  width: 100%;
  top: 0; }

.nav-main {
  margin: 0;
  padding: 0;
  overflow: auto; }
  .nav-main li {
    display: block;
    float: left; }
    .nav-main li a {
      display: block;
      padding: 9px 18px;
      transition: background-color .5s; }
      .nav-main li a:hover {
        background-color: #999; }

/*# sourceMappingURL=main.css.map */
