@import 'bourbon/bourbon';
@import 'partials/buttons';
@import 'partials/layout';

$font-size-default: large;

.heading-main {
	@if $font-size-default == large {
		font-size: 38px;
	}

	@else if $font-size-default == small {
		font-size: 21px;
	}
}

@for $i from 1 through 100 {
	.col-#{$i} {
		width: $i * 1%;
	}
}

@for $i from 1 through 6 {
	.heading-#{$i} {
		font-size: 12 * $i;
	}
}

@each $color in red, green, blue {
	.heading-#{$color} {
		color: $color;
	}
}

@each $list in disc, decimal, square, circle {
	.list-#{$list} {
		list-style-type: $list;
	}
}

@each $percent in 60, 70, 80, 90 {
	@keyframes stats#{$percent} {
		from {width: 0;}
		to {width: $percent * 1%}
	}
}





// Better Box Model:
* {
	box-sizing: border-box;
}

/*--------------------------------------------
	Mobile first! The CSS defaults to mobile.
	We then account for larger screens with
	our breakpoint mixins (found in _layout.scss)
----------------------------------------------*/

body {
	font: normal 14px Helvetica, Arial, sans-serif;
	background-color: red;

	@include breakpoint(small){
		background-color: green;		
	}

	@include breakpoint(med){
		background-color: blue;		
	}
}

img {
	

	@media all and (min-width: 960px) {
		margin-left: 24px;	
	}
}



.more-info {
	border: 1px solid #000;
	color: black;
	margin-bottom: 18px;
	display: none;

	@include breakpoint(med){
		display: block;
	}
}

input {
	color: red;

	@include placeholder{
		color: red;
	}
}

.grid-wrap {
	margin: 0 auto;
	max-width: 940px;
	border: 10px solid red;
	@include clearfix; // Bourbon

	.grid-col {
		width: 100%;
		height: 200px;
		background-color: #ccc;
		border: 1px solid #000;
		margin-bottom: 9px;
		padding: 18px;

		@include breakpoint(med) {
			width: 31.8%;
			float: left;
			margin-left: 9px;
		}
	}
}

// max-width AND min-width Media Query
/*@media all and (max-width: 960px) and (min-width: 320px){
	body {
		background-color: green;
	}
}*/

$font-size: 2;

// SASS If statement
h1 {
	@if $font-size == 1 {
		font-size: 18px;
	}
	@else if $font-size == 2 {
		font-size: 36px;
	}
}

// Sass for loop
@for $i from 1 through 4 {
	.cell-#{$i} {
		width: 25% * $i;
	}
}

@for $i from 1 through 6 {
	.size-#{$i} {
		font-size: 12px * $i;
	}
}

// Sass for each
@each $person in zach, ray, kelly {
	.person-#{$person} {
		list-style-type: #{$person};
	}
}

@each $list in disc, circle, decimal {
	.list-#{$list} {
		list-style-type: #{$list};
	}
}

// Placeholder Extend
%thick-line {
	border-bottom: 10px solid green;
	width: 500px;
}

.profile {
	@extend %thick-line;
}

.profile-user {
	@extend %thick-line;
}

.progile-admin {
	@extend %thick-line;
	border-bottom-color: #000;
}