.btn-sm, .btn-med, .btn-large {
  display: inline-block;
  background-color: #ccc;
  border-radius: 12px;
  border: 1px solid #000;
  padding: 9px 18px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  transition: all .5s; }
  .btn-sm:hover, .btn-med:hover, .btn-large:hover {
    background-color: #666; }

.btn-med {
  padding: 12px 20px;
  font-size: 24px; }

.btn-large {
  padding: 18px 24px;
  font-size: 36px; }

.heading-main {
  font-size: 38px; }

.col-1 {
  width: 1%; }

.col-2 {
  width: 2%; }

.col-3 {
  width: 3%; }

.col-4 {
  width: 4%; }

.col-5 {
  width: 5%; }

.col-6 {
  width: 6%; }

.col-7 {
  width: 7%; }

.col-8 {
  width: 8%; }

.col-9 {
  width: 9%; }

.col-10 {
  width: 10%; }

.col-11 {
  width: 11%; }

.col-12 {
  width: 12%; }

.col-13 {
  width: 13%; }

.col-14 {
  width: 14%; }

.col-15 {
  width: 15%; }

.col-16 {
  width: 16%; }

.col-17 {
  width: 17%; }

.col-18 {
  width: 18%; }

.col-19 {
  width: 19%; }

.col-20 {
  width: 20%; }

.col-21 {
  width: 21%; }

.col-22 {
  width: 22%; }

.col-23 {
  width: 23%; }

.col-24 {
  width: 24%; }

.col-25 {
  width: 25%; }

.col-26 {
  width: 26%; }

.col-27 {
  width: 27%; }

.col-28 {
  width: 28%; }

.col-29 {
  width: 29%; }

.col-30 {
  width: 30%; }

.col-31 {
  width: 31%; }

.col-32 {
  width: 32%; }

.col-33 {
  width: 33%; }

.col-34 {
  width: 34%; }

.col-35 {
  width: 35%; }

.col-36 {
  width: 36%; }

.col-37 {
  width: 37%; }

.col-38 {
  width: 38%; }

.col-39 {
  width: 39%; }

.col-40 {
  width: 40%; }

.col-41 {
  width: 41%; }

.col-42 {
  width: 42%; }

.col-43 {
  width: 43%; }

.col-44 {
  width: 44%; }

.col-45 {
  width: 45%; }

.col-46 {
  width: 46%; }

.col-47 {
  width: 47%; }

.col-48 {
  width: 48%; }

.col-49 {
  width: 49%; }

.col-50 {
  width: 50%; }

.col-51 {
  width: 51%; }

.col-52 {
  width: 52%; }

.col-53 {
  width: 53%; }

.col-54 {
  width: 54%; }

.col-55 {
  width: 55%; }

.col-56 {
  width: 56%; }

.col-57 {
  width: 57%; }

.col-58 {
  width: 58%; }

.col-59 {
  width: 59%; }

.col-60 {
  width: 60%; }

.col-61 {
  width: 61%; }

.col-62 {
  width: 62%; }

.col-63 {
  width: 63%; }

.col-64 {
  width: 64%; }

.col-65 {
  width: 65%; }

.col-66 {
  width: 66%; }

.col-67 {
  width: 67%; }

.col-68 {
  width: 68%; }

.col-69 {
  width: 69%; }

.col-70 {
  width: 70%; }

.col-71 {
  width: 71%; }

.col-72 {
  width: 72%; }

.col-73 {
  width: 73%; }

.col-74 {
  width: 74%; }

.col-75 {
  width: 75%; }

.col-76 {
  width: 76%; }

.col-77 {
  width: 77%; }

.col-78 {
  width: 78%; }

.col-79 {
  width: 79%; }

.col-80 {
  width: 80%; }

.col-81 {
  width: 81%; }

.col-82 {
  width: 82%; }

.col-83 {
  width: 83%; }

.col-84 {
  width: 84%; }

.col-85 {
  width: 85%; }

.col-86 {
  width: 86%; }

.col-87 {
  width: 87%; }

.col-88 {
  width: 88%; }

.col-89 {
  width: 89%; }

.col-90 {
  width: 90%; }

.col-91 {
  width: 91%; }

.col-92 {
  width: 92%; }

.col-93 {
  width: 93%; }

.col-94 {
  width: 94%; }

.col-95 {
  width: 95%; }

.col-96 {
  width: 96%; }

.col-97 {
  width: 97%; }

.col-98 {
  width: 98%; }

.col-99 {
  width: 99%; }

.col-100 {
  width: 100%; }

.heading-1 {
  font-size: 12; }

.heading-2 {
  font-size: 24; }

.heading-3 {
  font-size: 36; }

.heading-4 {
  font-size: 48; }

.heading-5 {
  font-size: 60; }

.heading-6 {
  font-size: 72; }

.heading-red {
  color: red; }

.heading-green {
  color: green; }

.heading-blue {
  color: blue; }

.list-disc {
  list-style-type: disc; }

.list-decimal {
  list-style-type: decimal; }

.list-square {
  list-style-type: square; }

.list-circle {
  list-style-type: circle; }

@keyframes stats60 {
  from {
    width: 0; }
  to {
    width: 60%; } }
@keyframes stats70 {
  from {
    width: 0; }
  to {
    width: 70%; } }
@keyframes stats80 {
  from {
    width: 0; }
  to {
    width: 80%; } }
@keyframes stats90 {
  from {
    width: 0; }
  to {
    width: 90%; } }
* {
  box-sizing: border-box; }

/*--------------------------------------------
	Mobile first! The CSS defaults to mobile.
	We then account for larger screens with
	our breakpoint mixins (found in _layout.scss)
----------------------------------------------*/
body {
  font: normal 14px Helvetica, Arial, sans-serif;
  background-color: red; }
  @media all and (min-width: 768px) {
    body {
      background-color: green; } }
  @media all and (min-width: 960px) {
    body {
      background-color: blue; } }

@media all and (min-width: 960px) {
  img {
    margin-left: 24px; } }

.more-info {
  border: 1px solid #000;
  color: black;
  margin-bottom: 18px;
  display: none; }
  @media all and (min-width: 960px) {
    .more-info {
      display: block; } }

input {
  color: red; }
  input::-webkit-input-placeholder {
    color: red; }
  input::-moz-placeholder {
    color: red; }
  input:-moz-placeholder {
    color: red; }
  input:-ms-input-placeholder {
    color: red; }

.grid-wrap {
  margin: 0 auto;
  max-width: 940px;
  border: 10px solid red; }
  .grid-wrap::after {
    clear: both;
    content: "";
    display: table; }
  .grid-wrap .grid-col {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border: 1px solid #000;
    margin-bottom: 9px;
    padding: 18px; }
    @media all and (min-width: 960px) {
      .grid-wrap .grid-col {
        width: 31.8%;
        float: left;
        margin-left: 9px; } }

/*@media all and (max-width: 960px) and (min-width: 320px){
	body {
		background-color: green;
	}
}*/
h1 {
  font-size: 36px; }

.cell-1 {
  width: 25%; }

.cell-2 {
  width: 50%; }

.cell-3 {
  width: 75%; }

.cell-4 {
  width: 100%; }

.size-1 {
  font-size: 12px; }

.size-2 {
  font-size: 24px; }

.size-3 {
  font-size: 36px; }

.size-4 {
  font-size: 48px; }

.size-5 {
  font-size: 60px; }

.size-6 {
  font-size: 72px; }

.person-zach {
  list-style-type: zach; }

.person-ray {
  list-style-type: ray; }

.person-kelly {
  list-style-type: kelly; }

.list-disc {
  list-style-type: disc; }

.list-circle {
  list-style-type: circle; }

.list-decimal {
  list-style-type: decimal; }

.profile, .profile-user, .progile-admin {
  border-bottom: 10px solid green;
  width: 500px; }

.progile-admin {
  border-bottom-color: #000; }

/*# sourceMappingURL=main.css.map */
