.player-wrap {
  overflow: auto; }

.player-x, .player-o {
  float: left;
  margin-right: 15px;
  line-height: 18px;
  font-size: 12px;
  transition: all .1s; }
  .player-x.player-current, .player-o.player-current {
    color: red;
    font-size: 18px; }

.player-reset {
  float: right; }

table {
  width: 600px; }
  table td {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-size: 120px; }
    table td.marked-x {
      color: red; }
      table td.marked-x:after {
        content: 'X'; }
    table td.marked-o:after {
      content: 'O'; }

body {
  background-color: white;
  text-align: center;
  width: 600px;
  margin: 20px auto 0;
  font: normal 14px Helvetica, Arial; }
