body {
	text-align: center;
}

.word,
.letters {
	text-align: center;
	
}

.word {
	display: inline-block;
	border: 10px solid red;
	margin: 0 auto;
}
.word span {
	display: block;
	float: left;
}

.word span,
.letters span {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid purple;
	font-size: 50px;
	line-height: 100px;
}

