* { Box-sizing: Border-box }

.col {
	border: 1px dotted green;
	width: 100%;
	background: url("https://c2.staticflickr.com/8/7525/16034107286_45365bee1c_b.jpg") 0 0 no-repeat transparent;
	background-size: contain;
	height: 500px;
	
	@media all and (min-width: 480px) {
		border-color: blue;
		float: left;
		width: 45%;
		background-image: url("https://c1.staticflickr.com/9/8566/16665363781_fbbd84cc27_b.jpg");

		&:nth-child(even) {
			margin-left: 10%;
		}
	}
}

@media all and (min-width: 480px) {
	
}