body {
  margin: 0;
  text-align: center;
  background-color: green;
}

svg.bozo {
  width: 900px;
}
svg.bozo .ears {
  animation: wiggle 1s ease infinite;
}
svg.bozo .nose {
  transition: all .5s;
}
svg.bozo .nose:hover {
  fill: green;
  stroke: red;
}


@keyframes wiggle {
  50% {
    
    transform: scale(1.1) translateX(-6%);
  }
}

/*# sourceMappingURL=main.css.map */
