@import 'vendor/bourbon/bourbon';

body {
	margin: 0;
	text-align: center;
	background-color: green;
}

svg.bozo {
	width: 900px;

	.ears {
		//@include animation(wiggle 1s ease infinite);
		animation: wiggle 1s ease infinite;
	}

	.nose {
		transition: all .5s;


		&:hover {
			fill: green;
			stroke: red;
		}
	}
}

@include keyframes(wiggle) {
	50% {
		// @include transform(scale(1.1) translateX(-6%));
		transform: scale(1.1) translateX(-6%);
	}
}