* {box-sizing: border-box;}
@import 'vendor/bourbon/bourbon';
@import 'vendor/flexslider';

body {
	background-color: white;
	font: normal 18px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.background {
	width: 100%;
	height: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: url('https://unsplash.it/1024/768/?image=200');
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		@include animation(images 10s infinite);
	}

	// &::after {
	// 	visibility: hidden;
	// 	@include background-image(url("https://unsplash.it/1024/768/?image=300"), url("https://unsplash.it/1024/768/?image=400"));
	// }
}

// $font: 'Josefin-regular', helvetica, arial;
// $font-bold: 'josefin-bold', $font;
// $font-extra-bold: 'josefin-extra-bold', $font-bod, $font;

h1.title {
	display: inline-block;
	background-color: rgba(black, .4);
	color: white;
	padding: 20px;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	// transform: translateY(-50%);
	@include transform(translate(-50%, -50%));
}

// change bg img, default 'fades'
@include keyframes(images){
	33% {
		background-image: url('https://unsplash.it/1024/768/?image=300');
	}
	67% {
		background-image: url('https://unsplash.it/1024/768/?image=400');
	}
}

.slider {
	width: 300%;

	.slide {
		width: 100%;
		border: 1px solid red;
		float: left;
	}
}