// Font awesome
@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/animated";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

body {
	font: normal 14px Helvetica, arial, sans-serif;
}

@media screen and (min-width:481px){

.nav-main {
	border-bottom: 1px solid black;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		
		a {
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			background-color: #eee;
			padding: 9px 18px;
			transition: all 1s;

			&:hover {
				background-color: #ccc;
				transition: all 1s;
			}
		}

		i {margin-right: 9px;}
	}
}
}

.list-group {
	margin-top: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
	text-decoration: none;
  	color: #666;

  	&:hover {
  		background-color: #eee;
  		color: black;
  	}

  &:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
  }

  &:last-child {
  	border-bottom-right-radius: 4px;
  	border-bottom-left-radius: 4px;
  }
	
	

}
