/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/animated";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

body {
	font: normal 14px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.nav-main {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	overflow: auto;

	li {
		display: block;
		float: left;
		text-transform: uppercase;
		border-right: 1px solid #999;

		&:last-child {
			border-right-style: none;
		}
	}

	a {
		display: block;
		padding: 18px;
		text-decoration: none;
		color: black;
		background-color: #eee;
		transition: all 1s;

		&:hover {
			background-color: #ccc;
		}
	}
}
