body {
  	background-color: white;
 	font: normal 1em Helvetica, Arial, sans-serif;
 }

 /* partials/_grid.scss */

 
.row {
	overflow: auto;
}

 @media all and (min-width: 480px){
	
	.col-left {
		float: left;
		width: 20%;
		border: 1px solid blue;
	}

	.col-mid {
		float: left;
		width: 59%;
		border: 1px solid red;
	}

	.col-right {
		float: left;
		width: 20%;
		border: 1px solid orange;
	}

}
