.word,
.letter {
  display: inline-block; }
  .word span,
  .letter span {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: block;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 40px;
    text-transform: uppercase; }
    .word span:last-child,
    .letter span:last-child {
      margin-right: 0; }
    .word span.has-letter,
    .letter span.has-letter {
      background-color: rgba(0, 128, 0, 0.5);
      color: white; }
    .word span.has-not-letter,
    .letter span.has-not-letter {
      background-color: rgba(255, 0, 0, 0.5);
      color: white; }

.letter {
  max-width: 400px; }
  .letter span:hover {
    background-color: #999;
    color: white;
    transition: all .5s;
    cursor: pointer; }

body {
  font: normal 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 50px auto; }

/*# sourceMappingURL=main.css.map */
