nav ul {
  margin: 0;
  padding: 0;
  border: 4px solid red;
  overflow: auto;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); }
nav li {
  display: block;
  float: left; }
  nav li a {
    display: block;
    padding: 40px 20px;
    color: white;
    text-decoration: underline; }
    nav li a:hover {
      background-color: blue;
      color: white; }

/* this is my comment */
body {
  font: normal 14px Helvetica, Arial, sans-serif;
  background-color: white; }

.alert, .alert-minor, .alert-super-minor {
  background-color: red;
  border: 5px solid #ccc;
  color: white;
  width: 1000px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px; }

.alert-minor {
  font-size: 18px; }

.alert-super-minor {
  background-color: pink;
  color: black;
  font-size: 12px; }

/*# sourceMappingURL=main.css.map */
