@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/nav';

/* this is my comment */
// this is NOT rendered

body {
	font: normal 14px Helvetica, Arial, sans-serif;
	background-color: $color-body;
}

.alert {
	background-color: red;
	border: 5px solid #ccc;
	color: white;
	width: $unit * 100; // $unit is stored in partials/_variables
	font-size: 24px;
	margin-bottom: $unit;
	padding: $unit;
}

.alert-minor {
	@extend .alert;
	font-size: 18px;
}

.alert-super-minor {
	@extend .alert;
	background-color: pink;
	color: black;
	font-size: 12px;
}


* {
	// border: 1px solid $color-body;
}
