body {
	margin: 0;
	font: normal 14px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

nav a {
	display: block;
	padding: 9px 18px;
}

nav a:hover {
	color: red;
	background-color: #ccc;
}

nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0 ;
}

nav ul li {
	float: left;
}

nav ul ul.nav-sub li {
	float: none;
}

nav ul ul.nav-sub {
	display: none;
	position: absolute;
}

nav ul li:hover ul.nav-sub {
	display: block;
}