body {
	font: normal 14px Helvetica, Arial;
	text-align: center;
	margin: 50px;
}

.word {
	margin: 0 auto 40px;
	display: inline-block;
}

.word > span {
	display: block;
	float: left;
	width: 50px;
	height: 55px;
	line-height: 50px;
	border: 1px solid black;
	margin-right: 25px;
	text-align: center;
	font-size: 48px;
	text-transform: uppercase;
}

.letter {
	clear: both;
	display: inline-block;
}

.letter > span {
	font-size: 32px;
	display: inline-block;
	border: 1px solid #ccc;
	width: 25px;
	line-height: 42px;
	margin: 4px;
	transition: all .1s;
}

.letter > span:hover {
	background-color: #ccc;
	cursor: pointer;
}

.letter > span.letter-found {
	background-color: green;
	color: white;
}

.letter > span.letter-not-found {
	background-color: red;
	color: white;
}