body {
  background-color: white;
  font: normal 1em/18px Helvetica, Arial, Sans-serif;
  width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
  transition: color .2s;
}
h2:hover {
  color: red;
}

a {
  color: black;
  transition: all 1s;
}
a:hover {
  color: blue;
}

.box, .ball {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  background-color: yellow;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 2s;
  transition: background-color 4s, width 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.box:hover, .ball:hover {
  background-color: green;
  border-color: red;
  width: 300px;
  height: 300px;
}
.box.transform-scale, .transform-scale.ball {
  transform: scale(3, 2);
}
.box.transform-translate, .transform-translate.ball {
  transform: translate(200px, 10px);
}
.box.transform-rotate, .transform-rotate.ball {
  transform: rotate(45deg);
}
.box.transform-skew, .transform-skew.ball {
  transform: skewX(45deg) skewY(45deg);
}
.box.transform-rotate-x, .transform-rotate-x.ball {
  transform: rotateX(76deg);
}
.box.transform-rotate-y, .transform-rotate-y.ball {
  transform: rotateY(80deg);
}

.ball {
  border-radius: 50%;
}

.rectangle {
  width: 300px;
  height: 150px;
  background-color: green;
  border: 4px solid #000;
  animation-name: motion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}
.rectangle:hover {
  animation-play-state: running;
}

@keyframes motion {
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 50px;
  }
}
.ball-new {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: yellow;
  -webkit-animation-name: ballMove;
  -moz-animation-name: ballMove;
  animation-name: ballMove;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
.ball-new.is-playing {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes ballMove {
  50% {
    margin-left: 500px;
  }
  100% {
    margin-left: 250px;
    margin-top: 300px;
  }
}
@-moz-keyframes ballMove {
  50% {
    margin-left: 500px;
  }
  100% {
    margin-left: 250px;
    margin-top: 300px;
  }
}
@keyframes ballMove {
  50% {
    margin-left: 500px;
  }
  100% {
    margin-left: 250px;
    margin-top: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
