@import 'bourbon/bourbon';

body {
	background-color: white;
	font: normal 1em/18px Helvetica, Arial, Sans-serif;
	width: 600px;
	margin: 0 auto;
}

h2 {
	//margin-top: 100px;
	font-size: 50px;
	transition: color .2s;

	&:hover {
		color: red;
	}
}

a {
	color: black;
	transition: all 1s;
	
	&:hover {
		color: blue;
	}
}

.box {
	width: 100px;
	height: 100px;
	border: 10px solid black;
	background-color: yellow;
	transition-property: all;
	transition-duration: 2s;
	transition-delay: 2s;
	transition: background-color 4s, width 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	
	&:hover {
		background-color: green;
		border-color: red;
		width: 300px;
		height: 300px;
	}

	&.transform-scale {
		transform: scale(3,2);
	}

	&.transform-translate {
		transform: translate(200px, 10px);
	}

	&.transform-rotate {
		transform: rotate(45deg);
	}

	&.transform-skew {
		transform: skewX(45deg) skewY(45deg);
	}

	&.transform-rotate-x {
		transform: rotateX(76deg);
	}

	&.transform-rotate-y {
		transform: rotateY(80deg);
	}	
}

.ball {
	@extend .box;
	border-radius: 50%;
}

.rectangle {
	width: 300px;
	height: 150px;
	background-color: green;
	border: 4px solid #000;
	animation-name: motion;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: paused;

	&:hover {
		animation-play-state: running;
	}
}


@keyframes motion {
	0% {}
	50% {
		margin-top: 100px;
	}
	100% {
		margin-top: 50px;
	}
}

.ball-new {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 3px solid red;
	background-color: yellow;
	@include animation-name(ballMove);
	@include animation-duration(2s);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	@include animation-play-state(paused);

	&.is-playing {
		@include animation-play-state(running);
	}
}


@include keyframes(ballMove) {
	50% {
		//transform: translate(500px);
		margin-left: 500px;
	}
	
	100% {
		// transform: translate(250px, 500px);
		margin-left: 250px;
		margin-top: 300px;
	}
}







