body {
	font: normal 14px Helvetica, Arial;
}

.btn {
	padding: 9 20px;
	margin-top: 20px;
}

.guess {
	display: inline-block;
	padding: 9px;
	text-transform: uppercase;
}

.letter {
	/*text-transform: uppercase;
	display: block;
	float: left;
	border: 1px solid #ccc;
	padding: 9px;
	margin-right: 9px;
	width: 35px;
	height: 35px;
	font-size: 18px;
	line-height: 18px;*/
}

#letter-picker {
	clear: both;
}