body {
	text-align: center;
}
.word {
	display: inline-block;
	margin: 0 auto;
	border: 3px dotted red;
	line-height: 50px;
}

.word span,
.letter-picker span {
	display: block;
	float: left;
	border: 1px solid black;
	font-size: 45px;
	line-height: 45px;
	width: 50px;
	height: 50px;
	margin-right: 9px;
	text-transform: uppercase;
}

.letter-picker {
	clear: both;
	display: block;
	text-align: center;
	border: 1px solid blue;
	overflow: auto;
	margin-top: 20px;
}

.letter-picker span {
	display: inline-block;
	float: none;
}