.word {
	overflow: auto;
	display: inline-block;
	margin: 0 auto;

	> span {
		display: block;
		float: left;
		width: 50px;
		height: 50px;
		line-height: 48px;
		font-size: 48px;
		border: 1px solid black;
		margin-right: 20px;
		color: purple;
	}
}

.letter {
	overflow: auto;
	display: inline-block;
	margin: 50px auto;
	clear: both;
	text-transform: uppercase;

	> span {
		display: block;
		width: 30px;
		margin: 9px;
		float: left;
		font-size: 36px;
		border: 1px solid #ccc;
		padding: 9px;
		transition: all .5s;

		&:hover {
			background-color: #eee;
			border-color: #333;
			cursor: pointer;
		}
		
		&.letter-found {
			background-color: rgba(green, .4);
			border-color: green;
			color: white;
		}
		
		&.letter-not-found {
			background-color: rgba($color-red, .4);
			border-color: $color-red;
			color: white;
		}
	}
}






