<!DOCTYPE html>
<html lang="en-us" data-ng-app="myApp">
	<head>
		<title>Introduction to AngularJS</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">

		<!-- load bootstrap and fontawesome via CDN -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<style>
			html, body
			{
				font-size: 1.1em;
			}
		</style>
		
		<!-- load angular via CDN -->
		<script src="http://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.4.0/angular-messages.js"></script>
		<script src="http://code.angularjs.org/1.4.0/angular-resource.js"></script>

		<script src="app.js"></script>
	</head>
	<body>

		<header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

		<div class="container">

			 <form name="myForm">
				<label>
					Enter text:
					<input type="text" ng-model="field" name="myField" required minlength="5" />
				</label>
				<div ng-messages="myForm.myField.$error">
					<div ng-message="required">You did not enter a field</div>
					<div ng-message="minlength, maxlength">
						Your email must be between 5 and 100 characters long
					</div>
				</div>
			  </form>

			<div data-ng-controller="mainController">
				<button ng-click="alertClick()">Click Me</button>
				<!-- ng-cloak, hide until Angular has had at it -->
				<h1 ng-cloak>Hello {{ name + ' How are you?'}}!</h1>
				<hr>

				<div>
					<label for="">What is your Twitter handle?</label>
					<!-- Two way data binding -->
					<input type="text" data-ng-model='handle'>
				</div>
				<!-- built-in directives -->
				<div class="alert" ng-class="{'alert-warning' : handle.length < chars, 'alert-danger' : handle.length > chars }" ng-hide="handle.length === chars">
					
					<div ng-show="handle.length < chars">You have less than 5 chars</div>
					<div ng-show="handle.length > chars">You have more than 5 chars</div>
					
				</div>
				<hr>
				<h1>twitter.com/{{ lowercasehandle() }}</h1>

				<h3>Rules</h3>
				<ul>
					<li data-ng-repeat="foo in rules">White: {{ foo.gsx$white.$t }}</li>
				</ul>
				
			</div>

		</div>

	</body>
</html>