.word span,
.letter span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 18px;
  line-height: 50px; }
  .word span:last-child,
  .letter span:last-child {
    margin-right: 0; }
  .word span.letter-found,
  .letter span.letter-found {
    background-color: rgba(0, 128, 0, 0.5);
    color: white; }
  .word span.letter-not-found,
  .letter span.letter-not-found {
    background-color: rgba(255, 0, 0, 0.5);
    color: white; }

body {
  font: normal 32px Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px; }

/*# sourceMappingURL=main.css.map */
