* {box-sizing: border-box;}

@import 'vendor/bourbon/bourbon';

body {
	margin: 0;
}

// Mixins
@mixin breakpoint($point) {
	@if $point == small {
		@media (min-width: 600px) { @content; }
	} @else if $point == medium {
		@media (min-width: 1024px) { @content; }
	} @else if $point == large {
		@media (min-width: 1300px)  { @content; }
	}
}

.parent {
	@include display(flex);
	@include flex-flow(row wrap);
	// @include align-items(stretch);
	// @include flex-direction(column);
	// @include justify-content(space-around);
	// @include flex-wrap(wrap);
	

	> .child {
		border: 1px solid red;
		width: 300px;
		@include flex-grow(1);

		&.special {
			@include flex-grow(10);
		}
	}
}


// Default to 'right aligned' main nav LI's
.nav-main {
	background-color: #eee;
	margin: 0;
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(center);

	/* switch to 'center aligned' main nav LI's */
	@include breakpoint(small) {
		@include justify-content(flex-end);
	}

	li {
		list-style: none outside;

		a {
			padding: 20px;
		}
	}
}
