// Placeholder extend:
// shows that this is not intended to be used as a direct class
%btn-default {
	display: inline-block;
	background-color: #ccc;
	border-radius: 12px;
	border: 1px solid #000;
	padding: 9px 18px;
	color: #000;
	font-size: 18px;
	text-decoration: none;
	transition: all .5s;

	&:hover {
		background-color: #666;
	}
}


// Placholder extend
// %btn-default {
// 	display: inline-block;
// 	background-color: #ccc;
// 	border-radius: 12px;
// 	border: 1px solid #000;
// 	padding: 9px 18px;
// 	color: #000;
// 	font-size: 18px;
// 	text-decoration: none;
// 	transition: all .5s;

// 	&:hover {
// 		background-color: #666;
// 	}
// }

.btn-sm {
	@extend %btn-default;
}

.btn-med {
	@extend %btn-default;
	padding: 12px 20px;	
	font-size: 24px;
}

.btn-large {
	@extend %btn-default;
	padding: 18px 24px;
	font-size: 36px;
}











