@mixin breakpoint($point){
  @if $point == small {
    @media all and (min-width: 768px){
      @content;
    }
  }

  @else if $point == med {
    @media all and (min-width: 960px){
      @content;
    }
  }
}
