.btn, .btn-small {
  background-color: grey;
  border: 1px solid black;
  font-size: 14px;
  padding: 10px;
  line-height: 14px;
  margin-bottom: 4px; }

.is-desktop {
  display: none; }
  @media all and (min-width: 769px) {
    .is-desktop {
      display: block;
      font-size: 12px; } }

.cell-1 {
  width: 1%; }

.cell-2 {
  width: 2%; }

.cell-3 {
  width: 3%; }

.cell-4 {
  width: 4%; }

.cell-5 {
  width: 5%; }

.cell-6 {
  width: 6%; }

.cell-7 {
  width: 7%; }

.cell-8 {
  width: 8%; }

.cell-9 {
  width: 9%; }

.cell-10 {
  width: 10%; }

.cell-11 {
  width: 11%; }

.cell-12 {
  width: 12%; }

.cell-13 {
  width: 13%; }

.cell-14 {
  width: 14%; }

.cell-15 {
  width: 15%; }

.cell-16 {
  width: 16%; }

.cell-17 {
  width: 17%; }

.cell-18 {
  width: 18%; }

.cell-19 {
  width: 19%; }

.cell-20 {
  width: 20%; }

.cell-21 {
  width: 21%; }

.cell-22 {
  width: 22%; }

.cell-23 {
  width: 23%; }

.cell-24 {
  width: 24%; }

.cell-25 {
  width: 25%; }

.cell-26 {
  width: 26%; }

.cell-27 {
  width: 27%; }

.cell-28 {
  width: 28%; }

.cell-29 {
  width: 29%; }

.cell-30 {
  width: 30%; }

.cell-31 {
  width: 31%; }

.cell-32 {
  width: 32%; }

.cell-33 {
  width: 33%; }

.cell-34 {
  width: 34%; }

.cell-35 {
  width: 35%; }

.cell-36 {
  width: 36%; }

.cell-37 {
  width: 37%; }

.cell-38 {
  width: 38%; }

.cell-39 {
  width: 39%; }

.cell-40 {
  width: 40%; }

.cell-41 {
  width: 41%; }

.cell-42 {
  width: 42%; }

.cell-43 {
  width: 43%; }

.cell-44 {
  width: 44%; }

.cell-45 {
  width: 45%; }

.cell-46 {
  width: 46%; }

.cell-47 {
  width: 47%; }

.cell-48 {
  width: 48%; }

.cell-49 {
  width: 49%; }

.cell-50 {
  width: 50%; }

.cell-51 {
  width: 51%; }

.cell-52 {
  width: 52%; }

.cell-53 {
  width: 53%; }

.cell-54 {
  width: 54%; }

.cell-55 {
  width: 55%; }

.cell-56 {
  width: 56%; }

.cell-57 {
  width: 57%; }

.cell-58 {
  width: 58%; }

.cell-59 {
  width: 59%; }

.cell-60 {
  width: 60%; }

.cell-61 {
  width: 61%; }

.cell-62 {
  width: 62%; }

.cell-63 {
  width: 63%; }

.cell-64 {
  width: 64%; }

.cell-65 {
  width: 65%; }

.cell-66 {
  width: 66%; }

.cell-67 {
  width: 67%; }

.cell-68 {
  width: 68%; }

.cell-69 {
  width: 69%; }

.cell-70 {
  width: 70%; }

.cell-71 {
  width: 71%; }

.cell-72 {
  width: 72%; }

.cell-73 {
  width: 73%; }

.cell-74 {
  width: 74%; }

.cell-75 {
  width: 75%; }

.cell-76 {
  width: 76%; }

.cell-77 {
  width: 77%; }

.cell-78 {
  width: 78%; }

.cell-79 {
  width: 79%; }

.cell-80 {
  width: 80%; }

.cell-81 {
  width: 81%; }

.cell-82 {
  width: 82%; }

.cell-83 {
  width: 83%; }

.cell-84 {
  width: 84%; }

.cell-85 {
  width: 85%; }

.cell-86 {
  width: 86%; }

.cell-87 {
  width: 87%; }

.cell-88 {
  width: 88%; }

.cell-89 {
  width: 89%; }

.cell-90 {
  width: 90%; }

.cell-91 {
  width: 91%; }

.cell-92 {
  width: 92%; }

.cell-93 {
  width: 93%; }

.cell-94 {
  width: 94%; }

.cell-95 {
  width: 95%; }

.cell-96 {
  width: 96%; }

.cell-97 {
  width: 97%; }

.cell-98 {
  width: 98%; }

.cell-99 {
  width: 99%; }

.cell-100 {
  width: 100%; }

.fs-1 {
  font-size: 12px; }

.fs-2 {
  font-size: 24px; }

.fs-3 {
  font-size: 36px; }

.fs-4 {
  font-size: 48px; }

.fs-5 {
  font-size: 60px; }

.fs-6 {
  font-size: 72px; }

.color-red {
  color: red; }

.color-green {
  color: green; }

.color-blue {
  color: blue; }

.list-disc {
  list-style-type: disc; }

.list-circle {
  list-style-type: circle; }

.list-decimal {
  list-style-type: decimal; }

.icon-zach {
  background-image: url("/path/to/zach.jpg"); }

.icon-marley {
  background-image: url("/path/to/marley.jpg"); }

.icon-bob {
  background-image: url("/path/to/bob.jpg"); }

.grid-50 {
  width: 100%;
  border: 1px solid red; }
  @media all and (min-width: 769px) {
    .grid-50 {
      width: 48.9%;
      float: left; } }

.fs-small {
  font-size: 50px; }
  @media all and (min-width: 769px) {
    .fs-small {
      font-size: 25px; } }

body {
  background-color: white;
  font-size: 18px; }
  @media all and (min-width: 420px) {
    body {
      font-size: 100px;
      color: blue;
      width: 100%; } }
  @media all and (min-width: 769px) {
    body {
      color: green; } }
  @media all and (min-width: 960px) {
    body {
      color: purple; } }

.alert, .alert-med, .alert-high {
  background-color: red;
  font-size: 14px;
  border: 1px solid green; }

.alert-med {
  font-size: 28px; }

.alert-high {
  font-size: 100px; }

h1 {
  font-size: 50px; }

/*# sourceMappingURL=main.css.map */
