@import 'bourbon/bourbon';
@import 'partials/variables';
@import 'partials/buttons';
@import 'partials/helpers';
@import 'partials/grids';

@mixin fancyBackground {
	border: 10px solid green;
	font-size: 25px;
	outline: 1px dotted red;
}

body {
	background-color: white;
	// background-color: shade($color-body, 90%);
	// @include linear-gradient(yellow, green);
	// @include fancyBackground;
	// Default to mobile. mobile first!
	font-size: 18px;

	@include breakpoint(small){
		font-size: 100px;
		color: blue;
		width: 100%;
	}

	@include breakpoint(med){
		color: green;
	}

	@include breakpoint(large){
		color: purple;
	}
}



.alert {
	background-color: red;
	font-size: 14px;
	border: 1px solid green;
}

.alert-med {
	@extend .alert;
	font-size: 28px;
}

.alert-high {
	@extend .alert;
	font-size: 100px;
}



// this would be perfect to move to a _type.scss partials
h1 {
	@if $fs == 1 {
		font-size: 50px;
	} @else if $fs == 2 {
		font-size: 100px;
	}
}

h2 {}
h3 {}





