.nav-wrapper {
  border-bottom: 4px solid black;
  overflow: auto;
  background-color: #666;
  top: 0;
  width: 100%;
  position: fixed;
}

.nav-main {
  margin: 0;
  padding: 0;
}
.nav-main li {
  display: block;
  float: left;
}
.nav-main li a {
  padding: 20px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #666;
  text-shadow: 1px 1px 1px black;
}
.nav-main li a:hover, .nav-main li a.is-current {
  background-color: #eee;
  color: black;
  text-shadow: none;
}

body {
  background-color: green;
  margin: 0;
  padding: 0;
  font: normal 1em/18px Helvetica, Arial, sans-serif;
}

/*# sourceMappingURL=main.css.map */
