.word,
.letter {
	span {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1px solid black;
		margin-right: 20px;
		margin-bottom: 18px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}

		&.letter-found {
			background-color: rgba(green, .5);
			color: white;
		}

		&.letter-not-found {
			background-color: rgba(red, .5);
			color: white;
		}
	}
}
