.word,
.letter {
	
	overflow: auto;
	display: inline-block;

	span {
		border: 1px solid #000;
		width: 50px;
		height: 50px;
		display: block;
		float: left;
		margin-right: 10px;
		font-size: 40px;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}
	}
}

.letter {
	margin-top: 100px;
	width: 80%;

	span {
		margin-bottom: 10px;
		display: inline-block;
		float: none;
		transition: all .5s;

		&:hover {
			background-color: #999;
			color: white;
			cursor: pointer;
		}

		&.has-letter {
			background-color: rgba(green, .8);
			color: white;
		}

		&.has-not-letter {
			background-color: rgba(red, .8);
			color: white;
		}
	}
}