body.modal-on {
  overflow: hidden;
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal-wrapper .modal {
  width: 400px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.modal-wrapper .modal-header {
  padding: 20px;
  border-bottom: 1px solid grey;
  overflow: auto;
}
.modal-wrapper .modal-header .title {
  float: left;
  margin: 0;
}
.modal-wrapper .modal-header .btn {
  float: right;
}
.modal-wrapper .modal-content {
  padding: 20px;
}
.modal-wrapper .modal-footer {
  padding: 20px;
  border-top: 1px solid grey;
  text-align: right;
}

.modal-content-inline {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font: normal 1em/18px Helvetica;
}
body.page-one {
  background-color: red;
}
body.page-two {
  background-color: green;
}

p {
  margin: 0 0 9px;
}

/*# sourceMappingURL=main.css.map */
