		body {
			font: normal 2em Helvetica;
		}
		.player,
		.player-health {
			font: normal 1em Helvetica;
		}
		.player-health {
			padding: 20px;
			margin-top: 18px;
			background-color: eee;
			border: 1px solid black;
		}
		.box,
		.box-two,
		.box-three {
			width: 300px;
			height: 300px;
			background-color: #eee;
		}
		.box-three {
			display: none;
			background-color: red;
		}
		hr {
			margin: 24px 0;
		}