@mixin black($opacity){
	background-color: rgba(0,0,0,$opacity);
}

.headline-main {
	@include black(.5);
}

.alert-default {
	background-color: green;
}

.alert-more {
	@extend .alert-default;
	border: 1px solid red;
}