.player-wrap {
	overflow: auto;
}

.player-x,
.player-o {
	float: left;
	margin-right: 15px;
	line-height: 18px;
	font-size: 12px;
	transition: all .1s;

	&.player-current {
		color: red;
		font-size: 18px;
	}
}

.player-reset {
	float: right;
}