table {
	width: 600px;

	td {
		border: 1px solid black;
		width: 200px;
		height: 200px;
		border-radius: 20px;
		font-size: 120px;

		&.marked-x {
			color: red;
			
			&:after {
				content: 'X';
			}
		}

		&.marked-o {
			&:after {
				content: 'O';
			}
		}
	}
}