@import 'vendor/bourbon/bourbon';

body {
	background-color: white;
	margin: 100px;
	font: normal 1em/18px Helvetica, Arial, sans-serif;

	h2 {
		margin-top: 100px;
	}
}

.box {
	background-color: yellow;
	border: 2px solid black;
	width: 100px;
	height: 100px;

	&:hover {
		&.transformed-scale {
			transform: scale(3,1.2);
		}

		&.transformed-translate {
			transform: translate(20px, 10px);
		}

		&.transformed-rotate {
			transform: rotate(45deg);
		}

		&.transformed-rotate-x {
			transform: rotateX(120deg);
		}

		&.transformed-rotate-y {
			transform: rotateY(120deg);
		}

		&.transformed-skew {
			transform: skewX(45deg) skewY(10deg);
		}
	}
}

.ball {
	@extend .box;
	border-radius: 50%;
}

.rectangle {
	@extend .box;
	width: 200px;
	transition: width .5s linear, border .5s ease;

	&:hover {
		width: 400px;
		border-color: green;
		border-width: 10px;
	}
}

.blockhead {
	width: 100px;
	height: 100px;
	border: 3px solid #000;
	background-color: orange;
	animation-name: motion;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	// pause on hover
	&:hover {
		animation-play-state: paused;		
	}
}


@keyframes motion {
	1% {
		transform: rotate(45deg);
	}
	50% {
		transform: scale(2, 2);
	}
	100% {
		transform: rotate(-45deg);
	}	
}


