body {
  background-color: white;
  margin: 100px;
  font: normal 1em/18px Helvetica, Arial, sans-serif; }
  body h2 {
    margin-top: 100px; }

.box, .ball, .rectangle {
  background-color: yellow;
  border: 2px solid black;
  width: 100px;
  height: 100px; }
  .box:hover.transformed-scale, .ball:hover.transformed-scale, .rectangle:hover.transformed-scale {
    transform: scale(3, 1.2); }
  .box:hover.transformed-translate, .ball:hover.transformed-translate, .rectangle:hover.transformed-translate {
    transform: translate(20px, 10px); }
  .box:hover.transformed-rotate, .ball:hover.transformed-rotate, .rectangle:hover.transformed-rotate {
    transform: rotate(45deg); }
  .box:hover.transformed-rotate-x, .ball:hover.transformed-rotate-x, .rectangle:hover.transformed-rotate-x {
    transform: rotateX(120deg); }
  .box:hover.transformed-rotate-y, .ball:hover.transformed-rotate-y, .rectangle:hover.transformed-rotate-y {
    transform: rotateY(120deg); }
  .box:hover.transformed-skew, .ball:hover.transformed-skew, .rectangle:hover.transformed-skew {
    transform: skewX(45deg) skewY(10deg); }

.ball {
  border-radius: 50%; }

.rectangle {
  width: 200px;
  transition: width .5s linear, border .5s ease; }
  .rectangle:hover {
    width: 400px;
    border-color: green;
    border-width: 10px; }

.blockhead {
  width: 100px;
  height: 100px;
  border: 3px solid #000;
  background-color: orange;
  animation-name: motion;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running; }
  .blockhead:hover {
    animation-play-state: paused; }

@keyframes motion {
  1% {
    transform: rotate(45deg); }
  50% {
    transform: scale(2, 2); }
  100% {
    transform: rotate(-45deg); } }

/*# sourceMappingURL=main.css.map */
