body {
  text-align: center;
  font: normal 14px Helvetica, Arial, sasns-serif;
}

table {
  margin: 0 auto;
  width: 550px; 
}

td {
  height: 175px;
  width: 175px;
  text-align: center;
  font-size: 120px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.player-board {
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
  width: 511px; 
  text-align: left;
}

.player-x,
.player-o {
  display: inline-block;
  padding-right: 25px;
  color: #ccc;
  transition: all 200ms;
}

.current-player {
  color: black;
  transform: scale(1.5);
}


.btn {
  float: right;
}


.marked-x {
  color: #663366;
}

.marked-x:before{
  content: 'X';
}

.marked-o {
  color: #CC0033;
}

.marked-o:before {
  content: "O";
}