.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  top: 0; }

.modal {
  background-color: #fff;
  border: 1px solid black;
  width: 400px;
  position: relative;
  top: 45%;
  margin: 0 auto;
  overflow: auto;
  padding: 9px; }

.modal-title {
  clear: both;
  padding: 18px;
  border-bottom: 1px solid black; }

.modal-on {
  overflow: hidden; }

body {
  background-color: red;
  margin: 0; }

p {
  margin: 0 0 18px; }

/*# sourceMappingURL=main.css.map */
