body {
	font: normal 14px Helvetica, arial;
	margin: 0;
	padding: 0;
}

.nav-wrapper {
	border-bottom: 1px solid black;
	width: 100%;
	background-color: white;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

nav ul li {
	display: inline;
}

nav a {
	font-size: 20px;
	text-decoration: none;
	padding: 9px 18px;
}

nav a:hover {
	background-color: #eee;
}

.page-about {
	background-color: red;
}

.page-contact {
	background-color: green;
}