body.modal-on {
  overflow: hidden; }

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

.modal {
  position: relative;
  top: 40%;
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black; }

.modal-header {
  text-align: right;
  border-bottom: 1px solid black;
  padding: 9px; }

.modal-footer {
  border-top: 1px solid black;
  text-align: right;
  padding: 9px; }

.btn, .btn-cancel {
  border-radius: 5px;
  border: 1px solid black; }

.btn-cancel {
  background-color: #eee; }

body {
  margin: 0;
  padding: 0;
  font: normal 1.2em Helvetica, Arial, sans-serif;
  background-color: white; }

p {
  margin: 0 0 18px; }

/*# sourceMappingURL=main.css.map */
