body {
	margin: 0;
	font: normal 16px Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.nav-main {
	display: inline-block;
	background-color: #ccc;
	width: 100%;
}

ul.nav-main a {
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
	background-color: #ccc;
}

ul.nav-main a:hover,
ul.nav-main > li:hover > a {
	background-color: #666;
	background-color: red;
	color: white;
}

ul.nav-main li {
	float: left;
}

ul.nav-sub li {
	float: none;
}

ul.nav-sub {
	display: none;
	position: absolute;
}

ul.nav-main li:hover ul.nav-sub {
	display: block;
}
