@import 'partials/nav';

$color-body-bg: red;

$unit: 100px;

body {
	background-color: $color-body-bg;
}

.foo-1 {
	width: $unit;
	border: 1px solid #000;
}

.foo-2 {
	width: $unit * 2;
	border: 1px solid #000;
}

