body {
	margin: 0;
	font: normal 16px Helvetica, Arial, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.nav-main {
	display: none;
	width: 100%;
	background-color: #ccc;
}

ul.nav-main a {
	padding: 20px;
	display: block;
}

ul.nav-main a:hover {
	background-color: #666;
	color: white;
}

.hamburger {
	font-size: 50px;
	text-align: right;
	cursor: pointer;
	padding-right: 9px;
}

/*.is-mobile {
	display: block;
}*/

@media all and (min-width: 420px){
	ul.nav-main {
		display: inline-block;
	}

	ul.nav-main li {
		float: left;
	}

	.is-mobile {
		display: none;
	}
}
